/b.cmd
/c.cmd
/d.cmd
/p.cmd
/conf
/build.properties
/c1.cmd
/c4.cmd
/cl.cmd
/cn.cmd
/d4.cmd
/e.cmd
/m.cmd
/o.cmd

/sql.cmd
/dist
/jcrasher-testees.txt
/jcrasher.cmd
/jcrasher.xml
/jcrasher-bin/
/jcrasher-generated-tests-bin/
/jcrasher-generated-tests-src/
/package-download/
/.settings/
/cadsr-cdecurate-jcrasher-2.1.3-2014-04-29-1652.jcrasher.txt
/cadsr-cdecurate-jcrasher-2.1.3-2014-04-29-1652.junit.txt
/cadsr-cdecurate-jcrasher-2.1.3-2014-04-29-1652.zip
/setEnv.cmd
.idea/*
/.idea/
copytest2jboss.cmd 
/ant2ide.cmd
/dist/cdecurate.war
/test/js/bower_components
/copytest2jboss.cmd
/m.cmd
/spy.*
/*spy*.cmd
/*.*spy