/b.cmd
/build.xml.p6spy
/c.cmd
/d.cmd
/p.cmd
/conf
ant2ide.cmd
bp6spy.cmd
build.xml
c1.cmd
c4.cmd
cn.cmd
d4.cmd
e.cmd
o.cmd
sql.cmd
dist/* 
dist/*.* 
dist/** 
dist/cdecurate.war 
dist/jboss/cdecurate-oracle-ds.xml 
setEnv.cmd 
dist/jboss/* 
dist/jboss/cadsrutil.properties 
dist/jboss/properties-service.xml 
jcrasher.cmd 
/dist/
