/* Copyright ScenPro, Inc 2007

    $Header: /cvsshare/content/cvsroot/cdecurate/ui/css/asset/popupMenus.css,v 1.5 2007-05-30 20:06:35 hegdes Exp $
    $Name: not supported by cvs2svn $

    the CSS to control appearance
*/

body {
background-color: #ffffff;
//color: #000080;
color: #000000;
}

h3, p {
//font-family: verdana, sans-serif;
}

h3 {
//font-size: 20px;
}

p {
//font-size: 12px;
//line-height: 20px;
}

p.textlinks {
visibility: hidden;
}

p.footnote {
//font-size: 10px;
}

a.link:visited {
//text-decoration: underline;
//color: #990000;
text-decoration: none;
color: #000000;
background-color: #ffffff;
}

a.link {
//text-decoration: underline;
//color: #666666;
text-decoration: none;
color: #000000;
background-color: #ffffff;
}

a.link:hover {
//text-decoration: underline;
text-decoration: none;
color: #ffffff;
//background-color: #990000;
background-color: #000000;
font-weight: bold;
}

/* this is to get rid of the default outline on links in IE5.x/Mac and any other browsers that recognize the outline:none style rule. */
a {
outline: none;
}

.menu a:link {
color: black;
text-decoration: none;
}
.menu a:visited {
color: black;
text-decoration: none;
}

td.menu {
//background-color: #6699cc;
background-color: #cccccc;
color: black;
height: 20px;
//font-family: verdana, sans-serif;
font-size: 12px;
padding-left: 1px;
border: 1px solid #003366;
}

/* The styles for the dropdown menu item ID selectors */  // prefer define it in JSP body, not here

//#divAssociateACs {
//	position: absolute;
//	z-index: 1;
//  visibility: hidden;
//	border: 2px solid #003366;
//	}

//#divAssACsBtn, #subscribe, #members, #contact {
//	position: absolute;
//	z-index: 2;
//	width: 100px;
//	visibility: hidden;
//	}

//#membersmusic, #membersteacher, #membersstudent {
//	position: absolute;
//	z-index: 3;
//	width: 100px;
//	visibility: hidden;
//	}

