/* Copyright ScenPro, Inc 2007

    $Header: /cvsshare/content/cvsroot/cdecurate/WebRoot/css/FullDesignArial.css,v 1.2 2009-04-08 20:28:46 hebell Exp $
    $Name: not supported by cvs2svn $
*/

	body
  {
     background-color: #FFFFFF;
     color: #000000;
	   font-family: Arial, Helvetica, sans-serif;
	   font-size: 10pt;
  }

	label.title 
	{ 
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 4;
		margin-left: 1.0in;
		text-indent: -1.0in
	}
	
  table
  {
     border-collapse: collapse;
  }

  table.sidebarBGColor
  {
     background-color: #E2CAA2;
  }

  td
  {
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 10pt;
  }

	th
  {
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 10pt;
 		text-align: left;
 		vertical-align : middle;
 		padding-bottom:0.05in;
  }

  td.sidebarBGColor
  {
     background-color: #E2CAA2;
  }

  td.dashed-black
  {
     border: 1px dashed #2F2F4F;
     border-spacing: 10px;
     padding: 5px 5px 5px 0;
  }

  tr
  {
     padding: 5px 0 0 5px;
  }

  tr.rowColor
  {
     background-color : #ECE9D8
  }
  
	tr.firstRow
  {
     padding: 10px 0 0 5px;
  }

  tr.lastRow
  {
     padding: 0 0 10px 5px;
  }

  textarea
  {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 10pt;
  }

  TD.TABX 
  { 
  	border: 2px solid #aaaaaa; border-bottom: 2px solid black; padding: 0.05in 0.05in 0.05in 0.05in; cursor: default
  }

	TD.TABY 
	{ 
		border-left: 2px solid black; border-right: 2px solid black; border-top: 2px solid black; padding: 0.05in 0.05in 0.05in 0.05in; margin-right: -5px; cursor: default
	}


  table.login
  {
    background-color: #CCCCCC;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 12pt;
    font-weight: bold;
  }

  td.loginHdr
  {
    background-color: #CCCCCC;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 14pt;
    font-weight: bold;
  }

  input.smallText
  {
     font-size: 8pt;
  }

  p.indentLevel1
  { 
		margin-left: 5em;
  }

  p.indentLevel2
  { 
		margin-left: 10em;
  }

  p.indentLevel3
  { 
		margin-left: 15em;
  }

  p.indentLevel4
  { 
		margin-left: 20em;
  }

	div.tabbody
	{
		margin-left: 0.05in;
		margin-right: 0in;
		border-left: 2px solid black;
		border-bottom: 2px solid black;
		border-right: 2px solid black; 
		padding: 0.1in 0in 0.1in 0in;
	}

	div.ind1
	{
		margin-left: 0.05in;
		margin-right: 0in;
		margin-top: 0.15in;
		margin-bottom: 0in;
	}	

	div.ind2
	{
		margin-left: 0.1in;
		margin-right: 1in;
		margin-top: 0.1in;
		margin-bottom: 0.05in;
	}	

	div.ind3
	{
		margin-left: 0.20in;
		margin-right: 0.5in;
		margin-top: 0.05in;
		margin-bottom: 0.05in;
		padding : 3px;
	}	

	div.readonlybox
	{
		margin-left: 0.20in;
		margin-right: 1in;
		margin-top: 0.05in;
		margin-bottom: 0.05in;
		padding : 3px;
		border: black 2px solid;
		border-color: #d3d3d3
	}

	div.table
	{
		margin-left: 0.20in;
		margin-right: 0in;
		margin-top: 0.1in;
		margin-bottom: 0.05in;
	}
	
  div
  {
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 10pt;
  }
  
  