  body
  {
     background-color: #FFFFFF;
     font-color: #000000;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 12px;
  }

  table
  {
     border-collapse: collapse;
  }

  table.sidebarBGColor
  {
     background-color: #E2CAA2;
  }

  td, th
  {
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 12px;
  }

  select
  {
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 12px;
  }

  td.sidebarBGColor
  {
     background-color: #E2CAA2;
  }

  td.dashed-black
  {
     border: 1px dashed #2F2F4F;
     border-spacing: 10px;
     padding: 5px 5px 5px 0;
  }

  tr
  {
     padding: 0 0 0 5px;
  }

  tr.firstRow
  {
     padding: 10px 0 0 5px;
  }

  tr.lastRow
  {
     padding: 0 0 10px 5px;
  }

  textarea
  {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
  }
  text
  {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
  }


  // Specific to the login pages

  table.login
  {
     background-color: #CCCCCC;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 14px;
     font-weight: bold;
  }

  td.loginHdr
  {
     background-color: #CCCCCC;
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 16px;
     font-weight: bold;
  }

  input.smallText
  {
     font-size: 8pt;
  }

  .F1 
  {
     filter: blur(direction=-150,Strength=220); width=70px;
  }
  .F2
  {
     filter:""; width=70px;
  }


