<html xmlns:ng="http://angularjs.org" ng-app lang="en">
<head>
    <meta charset="utf-8">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
    <script src="angular.min.js"></script>
    <script type="text/javascript" src="crud.js"></script>
    <style>
    	.row font-size:10px;
    </style>
</head>
<body>
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
<p>
<div ng-controller="ctrlRead">
    <div class="input-append">
        <span class="add-on" style="background-color: #FFFFFF; border: 0px;"><i class="icon-search"></i></span>
        <input type="text" ng-model="query" ng-change="search()" class="input-large search-query" placeholder="Search">
    </div>
    <a style="width: 100px;height: 8px;font-size: 11;padding-bottom: 14px;background:rgb(147, 130, 151);" class="btn btn-primary pull-right" ng-click="newItem()">{{createLinkTitle}}</a>

    <table class="table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th class="{{header1}}">Id&nbsp;<a ng-click="sort_by('id')"><i class="icon-sort"></i></a></th>
            <th class="{{header2}}">Name&nbsp;<a ng-click="sort_by('name')"><i class="icon-sort"></i></a></th>
            <th class="{{header3}}">Description&nbsp;<a ng-click="sort_by('description')"><i class="icon-sort"></i></a></th>
        </tr>
        </thead>
        <tfoot>
        <td colspan="6">
            <div class="pagination pull-right">
                <ul>
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range(pagedItems.length)"
                        ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                        <a href ng-bind="n + 1">1</a>
                    </li>
                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                        <a href ng-click="nextPage()">Next »</a>
                    </li>
                </ul>
            </div>
        </td>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>
                <a ng-click="editItem(item)">Edit</a>
                &nbsp;|&nbsp;
                <a ng-click="deleteItem(item)">Delete</a>
            </td>
        </tr>
        <div ng-show="enterNew">
            <form>
                <h2>New Profile</h2>
                <div class="row">
                    <div class="span1">{{header3}}</div>
                    <div class="span4">
                        <input type="text" class="input" ng-model="item.name" /></div>
                    </div>
                <div class="row">
                    <div class="span1">{{header4}}</div>
                    <div class="span4">
                        <input type="text" ng-model="item.description" /></div>
                    </div>

                <div class="row"><div class="span5">
                    <input type="submit" style="width: 100px;height: 10px;font-size: 12;padding-bottom: 22px;background: rgb(133, 109, 109);" class="btn btn-primary" value="Save" ng-click="updateItem()"/>
                    <a class="btn" ng-click="cancelSave()">Cancel</a>
                </div></div>
            </form>
            <br>
        </div>

        <div ng-show="editing">
            <form>
                <h2>Edit Profile</h2>
                <div class="row">
                    <div class="span1">{{header3}}</div>
                    <div class="span4">
                        <input type="text" class="input" ng-model="item.name" />
                    </div>
                </div>
                <div class="row">
                    <div class="span1">{{header4}}</div>
                    <div class="span4">
                        <input type="text" class="input" ng-model="item.description" />
                    </div>
                </div>

                <div class="row">
                    <div class="span5">
                        <input type="submit" style="width: 100px;height: 10px;font-size: 12;padding-bottom: 22px;background: rgb(133, 109, 109);" class="btn btn-primary" value="Save" ng-click="updateItem()"/>
                        <a class="btn" ng-click="cancelSave()">Cancel</a>
                    </div>
                </div>
            </form>
            <br>
        </div>

        </tbody>
    </table>
</div>
</body>
</html>
