<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- $Header: /cvsshare/content/cvsroot/cdecurate/src/gov/nih/nci/cadsr/cdecurate/test/log4j.xml,v 1.29 2007-05-23 04:10:55 hegdes Exp $
       $Name: not supported by cvs2svn $
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
           <layout class="org.apache.log4j.PatternLayout">
<!--              <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/> -->
             <param name="ConversionPattern" value="[%d %-5p] %m%n"/>
           </layout>        
    </appender>
    
<!-- ============================ -->
<!-- Setup the sentinel  Appender -->
<!-- ============================ -->
<appender name="EVSTEST1_FILE" class="org.apache.log4j.RollingFileAppender">
  <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
  <param name="File" value="/local/content/cadsrsentinel/reports/evstest1_log.txt"/>
  <param name="Append" value="true"/>
  <param name="MaxFileSize" value="200KB"/>
  <param name="MaxBackupIndex" value="3"/>
  <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="[%d %-5p] %m%n"/>
  </layout>
</appender>
  
<!-- ============================ -->
<!-- Setup the sentinel category debug-->
<!-- ============================ -->
<category name="gov.nih.nci.cadsr.cdecurate" additivity="false">
  <priority value="DEBUG"/> 
       <appender-ref ref="STDOUT" />
  <appender-ref ref="EVSTEST1_FILE"/>
</category>  
    
    <root>
       <priority value ="info" />
       <appender-ref ref="STDOUT" />
       <appender-ref ref="EVSTEST1_FILE" />
    </root>
    
</log4j:configuration>
